---
layout: default
---

  {% for post in site.posts limit:3 %}
    <!-- article -->
    <article class="article">
      <h2 class="article__title">
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
      <time class="article__date" datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%b %-d, %Y" }}</time>
      <p class="article__excerpt">{{ post.excerpt | truncate: 160 }}</p>
      <a href="{{ post.url | prepend: site.baseurl }}" class="article__more">Read more »</a>
    </article>
    <!-- / article -->
  {% endfor %}

    <!-- <nav class="blocks blocks--space">
      <div class="blocks__item">
        {% if paginator.previous_page %}<a href="{{ paginator.previous_page_path }}">Previous</a>{% endif %}
      </div>
      <div class="blocks__item">
        Page: {{ paginator.page }} of {{ paginator.total_pages }}
      </div>
      <div class="blocks__item">
        {% if paginator.next_page %}<a href="{{ paginator.next_page_path }}">Next</a>{% endif %}
      </div>
    </nav> -->
