.blocks {
  display: flex;
  align-items: center;
  margin-bottom: 0.1rem;
}

.blocks--space {
  justify-content: space-between;
}

.block__item--mr {
  margin-right: .8rem;
}

.blocks__item {
  a {
    text-decoration: none;
    color: var(--color2);
    border: 3px solid rgba(0,0,0,0.1);
    border-radius: 20px;
    padding: 1px 15px;
    font-family: Georgia,"Microsoft YaHei",sans-serif;
    &:hover {
      color: var(--color-text);
      border-color: var(--color2);
      transition: all .5s ease-in;
    }
  }
  .btn {
    box-shadow: inset 0 0 0 0px #1565c0;
  }
}

.article {
  margin-bottom: 3rem;
  animation: itemshow 0.9s linear;
}

.article__title {
  margin-bottom: .8rem;
  font-size: 1.999rem;
  &--single {
    font-size: 2rem;
    font-family: var(--title-font);
  }

  a {
    color: var(--color-text);
    font-family: var(--title-font);
    transition:all 0.25s ease-in;

    &:hover {
      color: var(--color2);
      text-decoration: none;
    }
  }
}

.article__date {
  display: block;
  margin-bottom: .8rem;
  font-size: .7501rem;
}

.cover {
  margin-bottom: 0.5rem;
  img {
    width: 100%
  }
}

.article__more {
  color: var(--color2);
  text-decoration: none;
  &:hover {
      transition:all 0.5s ease-in;
      color: var(--color-text);
      text-decoration: none;
    }
}

.post-tags {
  text-align: right;
  text-decoration: none;
  font: italic bold 12px/30px Georgia, serif;
  a {
    color: var(--color2);

    &:hover {
      color: var(--color-text);
      text-decoration: none;
    }
  }
}