/* Perfect fourth scale (1.333) */

/* h1 | 1rem * 1.3333 * 1.3333 * 1.3333 = 2.3702; */
/* h2 | 1rem * 1.3333 * 1.3333 = 1.7777rem; */
/* h3 | 1rem * 1.3333 = 1.3333rem; */
/* h4 | 1rem = 1rem; */
/* h5 | 1rem / 1.3333 = .75rem; */
/* h6 | 1rem / 1.3333 / 1.333 = .5625rem; */

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

a {
  background: transparent;
  color: var(--color1);
  text-decoration: none;
  cursor: pointer;
  word-wrap: break-word;

  &:hover,
  &:focus,
  &:active {
    outline: 0;
    text-decoration: none;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-weight: 700;
  vertical-align: middle;

  &:not(:first-child) {
    margin-top: 2.4rem;
  }
}

/*
typo scale
1:√2 – aug. fourth / dim. fifth
*/

h1 {
  font-size: 2.827rem;
  line-height: 3.2rem;
}

h2 {
  font-size: 1.999rem;
  line-height: 2.4rem;
}

h3 {
  font-size: 1.414rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: .707rem;
}

h6 {
  font-size: .5rem;
}

ul,
ol {
  margin: 0 0 1.6rem 1.6rem;

  ul,
  ol {
    margin: 0 1.6rem;
  }
}

hr {
  display: block;
  height: 1.6rem;
  border: 0;
  box-shadow: inset 0 1px 0 var(--color-border);
}

blockquote {
  margin-bottom: 1.6rem;
  padding: 1.6rem;
  border-left: 4px solid #e6e6e6;
  background: #f7f7f7;

  p {
    margin: 0;
  }
}
